{% extends 'layout.html' %}

{% block body %}
<div class="container text-left"  id="container">
  <h1>IP Cameras</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label>Register new IP camera</label>
      <p>Enter the snapshot url in the text field</p>
      <input type="text" name="ipcam" class="form-control" value={{request.form.ipcam}}>
      <br>
      <p>Enter the video url in the text field</p>
      <input type="text" name="ipcamvid" class="form-control" value={{request.form.ipcamvid}}>
      <br>
      <p>Enter the collection to associate with this camera</p>
      <select type="text" name="collection" class="form-control">
          {% for camcollection in camcollections %}
            <option value={{camcollection['S']}}>{{camcollection['S']}}</option>
          {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <label>List of registered IP cameras</label>
  <ul class="list-group">
    {% for ipcam, ipcamvid in ipcam2lists %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-4">
                    <a href={{ipcamvid['S']}} target="_blank">Live stream</a>
            </div>
            <div class="col-xs-4">
                <img id="ipcam" src={{ipcam['M']['Ipcam']['S']}} width="160" height="120">
            </div>
            <div class="col-xs-4">
                <p id="ipcamcol">{{ipcam['M']['Collection']['S']}}</p>
            </div>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}