{% extends 'layout.html' %}

{% block body %}

    <div class="container text-center"  id="container">
        <img id="video" src="http://192.168.0.26:80/mjpg/video.mjpg" width="320" height="240">
        <!--
        rtsp://85.27.25.112/ipcam.sdp
        <video id="video" width="320" height="240" preload autoplay loop muted></video>
        -->
        <canvas id="canvas" width="320" height="240"></canvas>
    </div>
    <div class="container text-center"  id="container">
        <button id="btn-start" type="button" class="btn btn-primary">Start</button>
        <button id="btn-stop" type="button" class="btn btn-danger">Stop</button>
    </div>
    <div class="container text-center"  id="container">
        <br>
        <p id="name"></p>
    </div>

  <script>
    var accessKeyId;
    var secretAccessKey;
    var sessionToken;
    var collection = "famille";
    var namediv = document.getElementById("name");
    var oldName0 = "0";
    var oldName1 = "1";

    document.getElementById("btn-start").addEventListener("click", function(){
        console.log('Start rekon');
        trackerTask.run();
        rekonInterval = setInterval(function() { rekon() }, 2000);
    });
    document.getElementById("btn-stop").addEventListener("click", function(){
        trackerTask.stop();
        clearInterval(rekonInterval);
        oldName1 = "1";
        oldName0 = "0";
        console.log('STOP rekon');
    });

    // Prefer camera resolution nearest to 1280x720.
    <!--var constraints = { audio: false, video: { width: 320, height: 240 } };-->

    <!--navigator.mediaDevices.getUserMedia(constraints)-->
    <!--.then(function(mediaStream) {-->
      <!--var video = document.querySelector('video');-->
      <!--video.srcObject = mediaStream;-->
      <!--video.onloadedmetadata = function(e) {-->
        <!--video.play();-->
      <!--};-->
    <!--})-->
    <!--.catch(function(err) { console.log(err.name + ": " + err.message); }); // always check for errors at the end.-->

    function getBinary(base64Image) {

       var binaryImg = atob(base64Image);
       var length = binaryImg.length;
       var ab = new ArrayBuffer(length);
       var ua = new Uint8Array(ab);
       for (var i = 0; i < length; i++) {
         ua[i] = binaryImg.charCodeAt(i);
        }

        return ab;
    }

    function rekon() {
      // Find face in video
      tracker.once('track', function(event) {
        if (event.data.length === 0) {
          // No targets were detected in this frame.
          context.clearRect(0, 0, 320, 240);
          namediv.innerHTML = "";
        } else {
          //console.log(event.data.length);
          event.data.forEach(function(data) {
            //console.log('face detected');
            context.drawImage(video, 0, 0, 320, 240);
            context.strokeStyle = '#a64ceb';
            context.strokeRect(data.x, data.y, data.width, data.height);
            context.font = '11px Helvetica';
            context.fillStyle = "#fff";
            context.fillText('Face detected', data.x + data.width + 5, data.y + 11);

            var imgstring = canvas.toDataURL('image/jpeg');
            var base64Image = imgstring.replace(/^data:image\/(png|jpeg|jpg);base64,/, "");
            var img = getBinary(base64Image);

            // Get aws credentials

            awsCred(function(response){
                // Here you have access to your variable
                //console.log(response);
                // do rekon calls here
                var rekognition = new AWS.Rekognition();
                var params = {
                    CollectionId: collection,
                    FaceMatchThreshold: 65,
                    Image: {
                      Bytes: img
                    },
                    MaxFaces: 1
                };

                // Recognize face

                rekognition.searchFacesByImage(params, function (err, data) {
                  if (err) {
                    console.log(err, err.stack); // an error occurred
                  } else {
                    // console.log(data.FaceMatches.length);
                    if (data.FaceMatches.length === 0){
                    } else {
                        // console.log(data.FaceMatches);
                        var name = data.FaceMatches[0].Face.ExternalImageId;
                        namediv.innerHTML = name;
                        oldName1 = oldName0;
                        oldName0 = name;
                        console.log(name);
                    }
                  }
                });
            })
          });
        }
      });
    }
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var tracker = new tracking.ObjectTracker('face');
    tracker.setInitialScale(2);
    tracker.setStepSize(1);
    tracker.setEdgesDensity(0.1);
    var trackerTask = tracking.track('#video', tracker, { mediaConstraints: { frameRate: { max: 2} }});
    trackerTask.stop();

  </script>
{% endblock %}
