{% extends 'layout.html' %}

{% block body %}
    <div class="container text-center"  id="container">
        <video autoplay="true" id="videoInput" width="320" height="240" style="border:10px solid #283136;"></video>
        <canvas id="canvasOutput" width="320" height="240" style="border:10px solid #283136;"></canvas>
    </div>
    <script>
        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
            .then(function(stream) {
             video.srcObject = stream;
             video.play();
            })
            .catch(function(err) {
            console.log("An error occured! " + err);
            });

            let video = document.getElementById('videoInput');
            let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
            let dst = new cv.Mat(video.height, video.width, cv.CV_8UC4);
            let gray = new cv.Mat();
            let cap = new cv.VideoCapture(video);
            let faces = new cv.RectVector();
            let classifier = new cv.CascadeClassifier();

            let url = '';
            let request = new XMLHttpRequest();
            request.open('GET', '/static/haarcascade_frontalface_default.xml', true);
            //request.responseType = "blob";
            request.onreadystatechange = function () {
              if(request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                console.log(1);
                var data = new Blob([request.responseXML], {type: 'application/xml'});
                url = window.URL.createObjectURL(data);

                return url;
              }
            };
            request.send();

            // load pre-trained classifiers
            console.log('OK');
            setTimeout(function(){
                console.log(2);
                classifier.load(url);
            }, 2000);
            setTimeout(function(){
                console.log(3);
                const FPS = 30;
                function processVideo() {
                    try {
                        //if (!streaming) {
                            // clean and stop.
                        //    src.delete();
                        //    dst.delete();
                        //    gray.delete();
                        //   faces.delete();
                        //    classifier.delete();
                        //    return;
                        //}
                        let begin = Date.now();
                        // start processing.
                        cap.read(src);
                        src.copyTo(dst);
                        cv.cvtColor(dst, gray, cv.COLOR_RGBA2GRAY, 0);
                        // detect faces.
                        classifier.detectMultiScale(gray, faces, 1.1, 3, 0);
                        // draw faces.
                        for (let i = 0; i < faces.size(); ++i) {
                            let face = faces.get(i);
                            let point1 = new cv.Point(face.x, face.y);
                            let point2 = new cv.Point(face.x + face.width, face.y + face.height);
                            cv.rectangle(dst, point1, point2, [255, 0, 0, 255]);
                        }
                        cv.imshow('canvasOutput', dst);
                        // schedule the next one.
                        let delay = 1000/FPS - (Date.now() - begin);
                        setTimeout(processVideo, delay);
                    } catch (err) {
                        //utils.printError(err);
                        console.log(err);
                    }
                };

                // schedule the first one.
                setTimeout(processVideo, 0);
            }, 3000);
    </script>
{% endblock %}
