{% extends 'layout.html' %}

{% block body %}

    <div class="container text-center"  id="container">
            <video id="video" width="320" height="240" preload autoplay loop muted></video>
            <canvas id="canvas" width="320" height="240"></canvas>
    </div>
  <script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function rekon() {
      console.log('Start rekon');
      tracker.on('track', function(event) {
        if (event.data.length === 0) {
          // No targets were detected in this frame.
          context.clearRect(0, 0, 320, 240);
        } else {
          event.data.forEach(function(data) {
            // Plots the detected targets here.
            console.log('face detected');
          });
          setTimeout(function () {
            trackerTask.stop();
            console.log('stop');
          }, 50);
          context.drawImage(video, 0, 0, 320, 240);
          setTimeout(function () {
            trackerTask.run();
            console.log('run');
          }, 2000);
        }
      });
    }
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var tracker = new tracking.ObjectTracker('face');
    tracker.setInitialScale(4);
    tracker.setStepSize(2);
    tracker.setEdgesDensity(0.1);
    var trackerTask = tracking.track('#video', tracker, { camera: true, mediaConstraints: { frameRate: { max: 2} }});

    rekon();
  </script>
{% endblock %}
