{% extends 'layout.html' %}

{% block body %}

    <div class="container text-center"  id="container">
        <video id="video" width="320" height="240" preload autoplay loop muted></video>
        <canvas id="canvas" width="320" height="240"></canvas>
    </div>
    <div class="container text-center"  id="container">
        <button id="btn-start" type="button" class="btn btn-primary">Start</button>
        <button id="btn-stop" type="button" class="btn btn-danger">Stop</button>
    </div>
    <div class="container text-center"  id="container">
        <br>
        <p id="name"></p>
    </div>
    <div class="container text-center"  id="container">
        <audio id="voice"  controls="controls" src="" type="audio/ogg"></audio>
    </div>
  <script>
    var accessKeyId;
    var secretAccessKey;
    var sessionToken;
    var collection = "famille";
    var namediv = document.getElementById("name");
    var voicediv = document.getElementById("voice");
    var oldName0 = "0";
    var oldName1 = "1";
    var speech = 1;

    document.getElementById("btn-start").addEventListener("click", function(){
        console.log('Start rekon');
        trackerTask.run();
        rekonInterval = setInterval(function() { rekon() }, 500);
    });
    document.getElementById("btn-stop").addEventListener("click", function(){
        trackerTask.stop();
        clearInterval(rekonInterval);
        oldName1 = "1";
        oldName0 = "0";
        console.log('STOP rekon');
    });

    function getBinary(base64Image) {

       var binaryImg = atob(base64Image);
       var length = binaryImg.length;
       var ab = new ArrayBuffer(length);
       var ua = new Uint8Array(ab);
       for (var i = 0; i < length; i++) {
         ua[i] = binaryImg.charCodeAt(i);
        }

        return ab;
    }

    function rekon() {
      // Find face in video
      tracker.once('track', function(event) {
        if (event.data.length === 0) {
          // No targets were detected in this frame.
          context.clearRect(0, 0, 320, 240);
          namediv.innerHTML = "";
        } else {
          //console.log(event.data.length);
          event.data.forEach(function(data) {
            //console.log('face detected');
            context.drawImage(video, 0, 0, 320, 240);
            context.strokeStyle = '#a64ceb';
            context.strokeRect(data.x, data.y, data.width, data.height);
            context.font = '11px Helvetica';
            context.fillStyle = "#fff";
            context.fillText('Face detected', data.x + data.width + 5, data.y + 11);

            var imgstring = canvas.toDataURL('image/jpeg');
            var base64Image = imgstring.replace(/^data:image\/(png|jpeg|jpg);base64,/, "")
            var img = getBinary(base64Image);

            // Get aws credentials

            awsCred(function(response){
                // Here you have access to your variable
                //console.log(response);
                // do rekon calls here
                var rekognition = new AWS.Rekognition();
                var params = {
                    CollectionId: collection,
                    FaceMatchThreshold: 65,
                    Image: {
                      Bytes: img
                    },
                    MaxFaces: 1
                };

                // Recognize face

                rekognition.searchFacesByImage(params, function (err, data) {
                  if (err) {
                    console.log(err, err.stack); // an error occurred
                  } else {
                    if (data.FaceMatches.length === 0){
                        //console.log(data.FaceMatches.length);
                    } else {

                        var name = data.FaceMatches[0].Face.ExternalImageId;
                        namediv.innerHTML = name;
                        oldName1 = oldName0;
                        oldName0 = name;
                        console.log(name);
                    }
                  }

                  //console.log("oldname1: " + oldName1 + " - Name " + oldName0);
                  // synthesize speech
                  if ( oldName0 === oldName1 || name == null ) {
                  } else {
                      var polly = new AWS.Polly();
                      var text = "";
                      if ( name == "alice" ) {
                        text = "Joyeux anniversaire " + name;
                      } else {
                        text = "Salut " + name + " Bienvenu a l'anniversaire d'Alice ";
                      }
                      var params = {
                        OutputFormat: "ogg_vorbis",
                        SampleRate: "8000",
                        Text: text,
                        TextType: "text",
                        VoiceId: "Celine"
                      };
                      polly.synthesizeSpeech(params, function(err, data) {
                        if (err) {
                          console.log(err, err.stack); // an error occurred
                        } else {
                          <!--data = {-->
                           <!--AudioStream: <Binary String>,-->
                           <!--ContentType: "audio/mpeg",-->
                           <!--RequestCharacters: 37-->
                          <!--}-->
                          //console.log(data); // successful response

                          var uInt8Array = new Uint8Array(data.AudioStream);
                          var arrayBuffer = uInt8Array.buffer;
                          var blob = new Blob([arrayBuffer]);
                          var url = URL.createObjectURL(blob);

                          voicediv.src = url;
                          voicediv.play();
                        }
                      });
                  }
                });
            })
          });
        }
      });
    }
    var video = document.getElementById('video');
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var tracker = new tracking.ObjectTracker('face');
    tracker.setInitialScale(2);
    tracker.setStepSize(1);
    tracker.setEdgesDensity(0.1);
    var trackerTask = tracking.track('#video', tracker, { camera: true, mediaConstraints: { frameRate: { max: 2} }});
    trackerTask.stop();

  </script>
{% endblock %}
